<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Калькулятор</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript">
        function replaceCommaWithDot(inputElement) {
            inputElement.value = inputElement.value.replace(/,/g, '.');
        }
    </script>
</head>
<body>
<h1>Калькулятор</h1>
<h2>(Крапивина Юлия Игоревна, 4 курс, 4 группа, 2023 год)</h2>

<form action="/" th:action="@{/}" th:object="${calculator}" method="post">
    <label>
        <input type="text" name="number" th:value="0" th:field="*{number1}" oninput="replaceCommaWithDot(this)"/>
    </label>
    <label>
        <select th:field="*{operation1}">
            <option th:value="'+'" th:text="'+'"></option>
            <option th:value="'-'" th:text="'-'"></option>
            <option th:value="'*'" th:text="'*'"></option>
            <option th:value="'/'" th:text="'/'"></option>
        </select>
    </label>
    (
    <label>
        <input type="text" name="number" th:value="0" th:field="*{number2}" oninput="replaceCommaWithDot(this)"/>
    </label>
    <label>
        <select th:field="*{operation2}">
            <option th:value="'+'" th:text="'+'"></option>
            <option th:value="'-'" th:text="'-'"></option>
            <option th:value="'*'" th:text="'*'"></option>
            <option th:value="'/'" th:text="'/'"></option>
        </select>
    </label>
    <label>
        <input type="text" name="number" th:value="0" th:field="*{number3}" oninput="replaceCommaWithDot(this)"/>
    </label>
    )
    <label>
        <select th:field="*{operation3}">
            <option selected="selected" th:value="'+'" th:text="'+'"></option>
            <option th:value="'-'" th:text="'-'"></option>
            <option th:value="'*'" th:text="'*'"></option>
            <option th:value="'/'" th:text="'/'"></option>
        </select>
    </label>
    <label>
        <input type="text" name="number" th:value="0" th:field="*{number4}" oninput="replaceCommaWithDot(this)"/>
    </label>
    <p>Вид округления:
        <label>
            <select th:field="*{roundingStr}">
                <option th:value="'математическое'" th:text="'математическое'"></option>
                <option th:value="'бухгалтерское'" th:text="'бухгалтерское'"></option>
                <option th:value="'усечение'" th:text="'усечение'"></option>
            </select>
        </label>
    </p>
    <p><input type="submit" value="Вычислить" /></p>
</form>

<p>Результат:</p>
<p th:text="${calculator.result}" />
<p>Округленный до целых результат:</p>
<p th:text="${calculator.roundedResult}" />

</body>
</html>